.wrapper {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #F3F1F7;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s;
}

.circle:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px;
}

.adress,
.phone,
.email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    font-size: 14px;
}

.adress strong,
.phone strong,
.email strong {
    cursor: pointer;
}

