.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.container {
    width: 1100px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.badge {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    border-radius:50%;
}

.stories {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
}